﻿@model Recepies.Models.User

@{
    ViewBag.Title = "Details";
}
<style>
    #map {
        height:500px;
    }
</style>
<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
    <div id="map"></div>

</div>


@{var sessionVar = (Recepies.Models.User)HttpContext.Current.Session["user"];
    if (!sessionVar.IsManager)
    {
        <p>
       
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index", "Users") 
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
            </p>
     }
 }
<script>
    function initMap() {
        var uluru = { lat: -25.363, lng: 131.044 };
        uluru = {lat: @Model.Lat, lng: @Model.Lng};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA042TFZEuqOjhxr0A2A4jUyt5cR07ojNI&callback=initMap">
</script>