﻿
@{
    ViewBag.Title = "Stats";
}

<h2>Statistics</h2>
    <div class="stat-chart">
        <h3>Recipies by difficulty</h3><br />
        <p>The following chart represents the distribution of recepies according to their difficulty</p>
        <div id="tooltip"></div>
        <div class="pie"></div>
    </div>

<div class="stat-chart">
    <h3>Users by recipies</h3><br />
    <p>The following chart compares users according to their recipies amount</p>
    <div class="bar"></div>
</div>


<script src="https://d3js.org/d3.v4.min.js"></script>

<script>

    // draw a pie
    function drawPie(jsonData) {

        // height and width of the svg
        var h = 400;
        var w = 400;

        // inner and outer radius of the pie
        var innerRadius = w / 4;
        var outerRadius = w / 2;

        // generate pie as function to be called and handel data
        var pie = d3.pie().value(function (d) {
            return d.count;
        });

        // create the color schim, d3 does that for us, generates 10 scale ordnal
        var color = d3.schemeCategory10;

        // will be used to generate the path attribute
        var arc = d3.arc()
          .innerRadius(innerRadius)
          .outerRadius(outerRadius);

        // create the svg canvas
        var svg = d3.select('.pie')
          .append('svg')
          .attr('width', w)
          .attr('height', h);

        // set up groups of arcs
        var arcs = svg.selectAll('g.arc')
          .data(pie(jsonData))
          .enter()
          .append('g')
          .attr('class', 'arc')
          .attr('transform', 'translate(' + outerRadius + ', ' + outerRadius + ')')
          .on("mouseover", function (d) {
              d3.select('#tooltip')
                .style("visibility", "visible")
                .text('Difficulty: ' + d.data.difficulty);
          })
          .on("mousemove", function () {
              d3.select('#tooltip')
                .style("top", (event.pageY - 10) + "px")
                .style("left", (event.pageX + 10) + "px");
          })
          .on("mouseout", function () {
              d3.select('#tooltip')
                .style("visibility", "hidden");
          });

        // add path to groups
        arcs.append('path')
          .attr('fill', function (d, i) {
              return color[i];
          })
          .attr('d', arc);

        // append text
        arcs.append('text')
          .attr("transform", function (d) {
              return "translate(" + arc.centroid(d) + ")"; // get the center point of the shape
          })
          .attr("text-anchor", "middle")
          .text(function (d) {
              return d.value;
          });

    }

    function drawBar(jsonData) {
        var margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        // set the ranges
        var x = d3.scaleBand()
                  .range([0, width])
                  .padding(0.1);
        var y = d3.scaleLinear()
                  .range([height, 0]);

        // get some color in
        var color = d3.schemeCategory20;

        // append the svg object to the body of the page
        // append a 'group' element to 'svg'
        // moves the 'group' element to the top left margin
        var svg = d3.select(".bar").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", 
                  "translate(" + margin.left + "," + margin.top + ")");
        // Scale the range of the data in the domains
        x.domain(jsonData.map(function (d) { return d.name; }));
        y.domain([0, d3.max(jsonData, function (d) { return d.recipies; })]);

        // append the rectangles for the bar chart
        var bars =  svg.selectAll(".bar")
             .data(jsonData)
           .enter().append("rect")
             .attr("class", "bar")
             .attr("x", function (d) { return x(d.name); })
             .attr("width", x.bandwidth())
             .attr("y", function (d) { return y(d.recipies); })
             .attr("height", function (d) { return height - y(d.recipies); })
             .attr('fill', function (d, i) { return color[i]; });

        // add the x Axis
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        // add the y Axis
        svg.append("g")
            .call(d3.axisLeft(y).ticks(4))
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", "-35px")
              .text("Recipies");
    }
    var difficulties = JSON.parse('@Html.Raw(ViewBag.difficulties)');
    drawPie(difficulties);

    var users = JSON.parse('@Html.Raw(ViewBag.users)');
    drawBar(users);
</script>
