﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-8" id="aboutText">
       
    </div>
    <aside class="col-sm-offset-8 aside-about">
        
        <div>
            <canvas id="titleCanvas" width="380" height="35" class="canvas-about"></canvas>

            <script>
                var c = document.getElementById("titleCanvas");
                var ctx = c.getContext("2d");
                ctx.font = "20px Arial";
                ctx.fillStyle = "#666666";
                ctx.fillText("My new recipie", 0, 30);
            </script>

            <video width="370" height="270" controls>
                <source src="~/Content/Images/newVideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div>
            <canvas id="Canvas" width="388" height="15" class="canvas-about">
            </canvas>

            <script>
                var c = document.getElementById("Canvas");
                var ctx = c.getContext("2d");

                // Create gradient
                var grd = ctx.createRadialGradient(183, 50, 108, 198, 60, 205);
                grd.addColorStop(0, "grey");
                grd.addColorStop(1, "white");

                // Fill with gradient
                ctx.fillStyle = grd;
                ctx.fillRect(0, 5, 388, 5);
            </script>
        </div>

         <div>
             <div>
                 <canvas id="linksCanvas" width="380" height="25" class="canvas-about"></canvas>

                 <script>
                var c = document.getElementById("linksCanvas");
                var ctx = c.getContext("2d");
                ctx.font = "20px Arial";
                ctx.fillStyle = "#666666";
                ctx.fillText("Some useful links:",0,20);
                 </script>
             </div>  

            <a href="https://www.youtube.com/watch?v=-pc9QNkbFXY&list=PLGdYMeHlrbpiGXZvbwpvlGyyaGoUR9DxP">My playlist on youtube</a><br />
            <a href="http://www.mako.co.il/mako-vod-keshet/Bake-off-Israel">Bake off Israel</a><br />
            <a href="http://10tv.nana10.co.il/Category/?CategoryID=600471&pid=58">My TV show</a><br />
        </div>

        <div>
            <canvas id="CanvasLine" width="388" height="15" class="canvas-about">
            </canvas>

            <script>
                var c = document.getElementById("CanvasLine");
                var ctx = c.getContext("2d");

                // Create gradient
                var grd = ctx.createRadialGradient(183, 50, 108, 198, 60, 205);
                grd.addColorStop(0, "grey");
                grd.addColorStop(1, "white");

                // Fill with gradient
                ctx.fillStyle = grd;
                ctx.fillRect(0, 5, 388, 5);
            </script>
        </div>
    </aside>
</div>
<script>
    $("#aboutText").ready(function () {
        $.ajax({
            url: "\\AboutSite\\GetAboutSiteText",
            success: function (result) {
                $("#aboutText").html(result);
            }
        });
    });
</script>